@model AutorViewModel

@{
    ViewData["Title"] = "Index";
}
<body class="indexautor">
<h1 class="display-4 rounded">Autor ISTEA</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Crear nuevo autor</a>
</p>
<div class="row">
<form method="get" asp-action="Index" asp-controller="Autor">
    <div class="col-6 form-group">
        <input class="form-control" asp-for="NameFilter"/>
    </div>
    <button class="btn btn-outline-dark" type="submit">Buscar</button>
</form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autors[0].Genero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Autors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
