<!DOCTYPE html>
<html lang="en">
<head class="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parcial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/alumno.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/config.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Parcial.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Views/Shared/_Layout.cshtml.css" asp-append-version="true"/>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/home_app_logo_FILL0_wght200_GRAD0_opsz40.png"  alt="Index" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown ms-2">
                            <div class="btn-group dropdown">
                                <a class="btn btn-light" href="@Url.Action("Index", "Alumno")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">
                                    <img src="~/Images/student-with-graduation-cap.png" alt="Index" /> Alumno
                                </a>
                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="alumnoDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("VerLibrosDisponibles", "Alumno")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Ver Libros Disponibles</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("ReservarLibro", "Alumno")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Reservar Libro</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("DevolverLibro", "Alumno")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Devolver Libro</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("VerCategorias", "Alumno")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Ver Categorias</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="btn-group dropdown ms-2">
                                <a class="btn btn-light" href="@Url.Action("Index", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">
                                    <img src="~/Images/teach.png" alt="Index" /> Profesor
                                </a>
                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="alumnoDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarAutores", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Administrar Autores</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarCategorias", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Administrar Categorias</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarLibros", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Administrar Libros</a></li>
                                    @if (User.IsInRole("Administrador")){
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarUsuarios", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Administrar Usuarios</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarRoles", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Administrar Roles</a></li>
                                    }
                                    <li><a class="dropdown-item" href="@Url.Action("UsuariosConRoles", "Profesor")" style="color: rgb(0, 0, 0); text-align: center font-weight: bold;">Ver roles de Usuarios</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
