@model LibrosEnCategoriaViewModel

@{
    ViewData["Title"] = "Libros en Categoría";
}
<body class="profesorFondo">
<h1 class="container display-4 rounded" style="color: white; text-align: center font-weight: bold;">Libros en Categoría: @Model.Categoria.Nombre</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Autor
            </th>
            <th>
                Editorial
            </th>
            <th>
                Año
            </th>
            <th>
                Género
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model.Libros)
        {
            <tr>
                <td>
                    @libro.Nombre
                </td>
                <td>
                    @if (libro.Autor != null)
                        {
                            @libro.Autor.Nombre @(" ") @libro.Autor.Apellido
                        }

                </td>
                <td>
                    @libro.Editorial
                </td>
                <td>
                    @libro.Año
                </td>
                <td>
                    @libro.Genero
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="tirar-derecha">
        <a href="@Url.Action("Index", "Categoria")" class="btn btn-light btn-sm">
            <img src="~/Images/arrow-left-circle.png" class="pruebatamaño" />Volver a Categoria
        </a>
    </div>
</body>