@model BookViewModel

<h2 style="color: white; text-align: center;">Devolver Libro</h2>
<br>
<body class="alumnoFondo">
@if (Model.Books.Count > 0)
{
    <form method="post" action="@Url.Action("ConfirmarDevolucion")">
        <div class="table">
            <table class="table table-dark table-striped">
                <tbody>
                        @foreach (var libro in Model.Books)
                        { <tr>
                            <td>
                                <input type="radio" id="@libro.Id" name="libroId" value="@libro.Id" required>
                                <label for="@libro.Id">@libro.Nombre</label>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-success">Devolver</button>
    </form>
}
else
{
    <p>No hay libros disponibles para devolver.</p>
}
<br>
<div class="tirar-derecha">
        <a href="@Url.Action("Index", "Alumno")" class="btn btn-light">
            <img src="../Images/arrow-left-circle.png" class="pruebatamaño" />Volver a Alumno
        </a>
        </div>
</body>