@model List<BookCreateViewModel>

<h2 style="color: white; text-align: center;">Libros Disponibles</h2>
<br>
<body class="alumnoFondo">
<br>
     <form method="get" asp-action="VerLibrosDisponibles" asp-controller="Alumno">
        <div class="row">
            <div class="col-6 form-group">
                <div class="input-group">
                    <input class="form-control" name="searchTerm" placeholder="Buscar libro..." />
                    <div class="input-group-append">
                        <button class="btn btn-light ml-2" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
@if (Model.Count > 0)
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Editorial</th>
                <th scope="col">Genero</th>
                <th scope="col">A単o</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>@libro.Nombre</td>
                    <td>@libro.Editorial</td>
                    <td>@libro.Genero</td>
                    <td>@libro.A単o</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay libros disponibles en este momento.</p>
}
<a href="@Url.Action("ReservarLibro", "Alumno")" class="btn btn-success"> 多Quieres reservar un libro?</a>
<br>
<br>
<div class="tirar-derecha">
        <a href="@Url.Action("Index", "Alumno")" class="btn btn-light">
            <img src="../Images/arrow-left-circle.png" class="pruebatama単o" />Volver a Alumno
        </a>
</div>
</body>
