@model Book

@{
    ViewData["Title"] = "Delete";
}

<body class="profesorFondo">
<div>
    <h4 class="container display-4 rounded" style="color: white; text-align: center font-weight: bold;">Eliminar Libro</h4>
    <hr/>
    <dl class="row" style="color: white; text-align: center font-weight: bold;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaReservado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaReservado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
<br>
<div class="tirar-derecha">
        <a href="@Url.Action("Index", "Book")" class="btn btn-light btn-sm">
            <img src="~/Images/arrow-left-circle.png" class="pruebatamaño" />Volver a libro
        </a>
</div>
</body>
