@model BookViewModel

@{
    ViewData["Title"] = "Index";
}
<body class="profesorFondo">
<h1 class="container display-4 rounded" style="color: white; text-align: center font-weight: bold;">Libros ISTEA</h1>

<div class="row">
<form method="get" asp-action="Index" asp-controller="Book">
    <div class="row">
        <div class="col-6 form-group">
            <div class="input-group">
                <input class="form-control" asp-for="NameFilter"/>
                <div class="input-group-append">
                    <button class="btn btn-light ml-2" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].EstaReservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaReservado)
            </td>
            <td>
                @if (item.Autor != null)
                {
                    @item.Autor.Nombre @(" ") @item.Autor.Apellido
                }
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                @if (User.IsInRole("Administrador")){
                    <a asp-action="Reservar" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Reservar</a>
                    <a asp-action="QuitarReserva" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Quitar Reserva</a>
                }
            </td>
            
        </tr>
}
    </tbody>
    
</table>
<br>
<p>
  <a asp-action="Create" class="btn btn-success">Crear nuevo libro</a>
</p>
<br>
<div class="tirar-derecha">
        <a href="@Url.Action("Index", "Profesor")" class="btn btn-light btn-sm">
            <img src="~/Images/arrow-left-circle.png" class="pruebatamaño" />Volver a profesor
        </a>
        </div>
</body>
